
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Playfair Display', serif;;
}
.main-header{
  /*margin-left: 100px;
  margin-right: 100px;*/
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
 font-family: 'Playfair Display', serif;
}

p {
  margin: 0;
}

.wrapper-width-container {
  max-width: 1300px;
  margin-left: 100px;
  margin-right: 100px;
}

.blog-wrapper-width {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.blog-tag {
  font-family: var(--second-font);
  font-size: var(--post-tag-size);
}

.blog-title {
  font-size: var(--post-title-size);
}

.blog-content {
  font-size: var(--post-content-size);
}





.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-pinterest:before {
  content: "\ead1";
}

/* Header */
.main-navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  position: relative;
}

.main-navigation-bar__logo a {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  color: black;
  letter-spacing: .2em;
  font-size: 30px;
  margin: 10px;
}

  /* Menu Mobile */ 
  .container-burger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 0;  
    top: .2em;
  }
  .line1,
  .line2,
  .line3 {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: .2s;
  }
  .active-burger .line1 {
    transform: rotate(-45deg) translate(-6px, 5px);
  }
  .active-burger .line2 {
    opacity: 0;
  }
  .active-burger .line3 {
    transform: rotate(45deg) translate(-6px, -5px);
  }
  .show-menu-mobile {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  /* End Menu Mobile  */

.main-menu ul {
  display: flex;  
}

.main-menu li {
  margin-right: 3em;
}

.main-menu li:last-of-type {
  margin: 0;
}

.main-menu a {
  text-transform: uppercase;
  color: var(--first-color);
  letter-spacing: 1px;
}

/* Main */
main {
  margin-top: 3em;
}

.first-post {
  margin-bottom: 5em;
}

.first-post__image {
  width: 100%
}

.first-post__image img {
  width: 100%;
  filter: grayscale(70%);
}

.content-first-post {
  margin-top: 3em;
}

.content-first-post > div {
  margin-top: 1.2em;
}

.content-first-post__tag a {
  text-transform: uppercase;
  color: var(--second-color);
}

.content-first-post__text h2 {
  font-size: 1.4em;
  margin-bottom: 1em;
  font-weight: 600;
}

.content-first-post__text a,
.content-first-post__text p {
  color: var(--first-color);
}

.content-first-post__text p {
  line-height: 1.6em;
}

.content-first-post__leave-comment a {
  text-transform: uppercase;
  color: var(--second-color);
}

/* Posts */
.row-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 4em;
}

.post-view {
  height: 100%;
  grid-column: span 1;
}

.card-post {
  height: 100%;
}

.card-post__image {
  width: 100%;
  height: 60%; 
}

.card-post__image img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  filter: grayscale(70%);
}

.card-post__tag,
.card-post__text h2,
.card-post__text p {
  margin-top: 1em;
}

.card-post__tag a {
  text-transform: uppercase;
  color: var(--second-color);
}

.card-post__text h2 {
  font-size: 1.4em;
  font-weight: 600;
}

.card-post__text a,
.card-post__text p {
  color: var(--first-color);
}

.card-post__text p {
  line-height: 1.6em;
}

/* Newsletter */

.newsletter-container {
  background-color: #F0F0F0;
  margin-top: 5em;
  margin-bottom: 5em;
}

.newsletter-content {
  text-align: center;
  padding: 2em 0 2em 0;
}

.newsletter-content__title {
  font-weight: 500;
  font-size: 1.8em;
  margin-bottom: 1em;
}

.newsletter-form__email {
  outline: none;
  border: none;  
  font-size: 1em;
  border-bottom: 1px solid black;
  font-family: var(--first-font);
  width: 25%;
  padding: 1em .5em .5em 0;
  letter-spacing: 1px;
 
}


/* Load More */

.load-more-container {
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
}

.load-more__button {
  border: none;
  background-color: transparent;
  font-size: 1.2em;
  padding: .8em 2em;
  color: var(--first-color);
  border: 1px solid var(--first-color);
  font-family: var(--first-font);
}


/* Footer */

.main-footer {
  background-color: #F0F0F0;
}

.main-footer-content {
  display: flex;
  justify-content: space-between;
}

.main-footer-pages {
  display: flex;
}

.main-footer-pages p {
  margin: 1.5em 0;
  margin-right: 1em;
}

.main-footer-social {
  display: flex;
  align-items: center;
}

.main-footer-social p,
.main-footer-social a {
  margin-right: 1em;
}

.main-footer-social a {
  color: #616161;
}

.main-footer-social a:last-of-type {
  margin: 0;
}

/* Single Post Style */

.post-page {
  margin-bottom: 5em;
}

.post-header__image {
  width: 100%;
}

.post-header__image img {
  width: 100%;
  filter: grayscale(70%);
}

.post-content {
  margin-top: 3em;
}

.post-content.blog-wrapper-width {
  max-width: 90%;
  margin-right: 0;
}

.post-body-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-column-gap: 2em;
}

.post-body {
  grid-column: 1 / 2;
}

.post-body img {
  margin: 1.5em 0;
  width: 100%;
  filter: grayscale(70%);
}

.post-body p {
  color: var(--first-color);
  line-height: 1.6em;
  margin-bottom: 1em;
}

.post-body__tag a {
  text-transform: uppercase;
  color: var(--second-color);
}

.post-body__title {
  margin-top: 1.2em;
}

.post-body__title h2 {
  margin-bottom: 1em;
  font-weight: 600;

}

.post-body__title a {
  color: var(--first-color);  
}

.post-body__cite {
  font-style: italic;
  width: 95%;
  margin: 1em auto;
}

.post-body-share {
  margin-top: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.post-body-share p {
  font-size: .9em;
  margin: 0 1.2em 0 0;
  text-transform: uppercase;
  color: var(--second-color);
  font-family: var(--second-font);
}

.post-body-share a {
  color: #b4ac9e;
  font-size: 1.1em;
  margin-right: .8em;
}

/* Aside Styles */

.post-body-container aside {
  grid-column: 2 / -1;
}

.blog-sidebar-about__image {
  width: 100%;
}

.blog-sidebar-about__image img {
  width: 100%;
}

.blog-sidebar-about__author .about__title {
  margin-top: 1em;
  font-size: 1.5em;
}

.blog-sidebar-about__author a {
  color: var(--first-color);
}

.blog-sidebar-about__author .about__description {
  margin-top: 1em;
  color: var(--first-color);
}

.blog-sidebar-about__social {
  margin-top: 1em;
}

.blog-sidebar-about__social a {
  color: #b4ac9e;
  margin-right: .5em;
  font-size: 1.1em;
}

.blog-sidebar-popular-posts {
  margin-top: 3em;
}

.blog-sidebar-popular-posts h3 {
  color: var(--second-color);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 1.5em;
}

.blog-sidebar-popular-posts .popular-posts__title {
  color: var(--first-color);
  display: list-item;
  list-style: disc;
  margin-bottom: .5em;
  font-size: 1.1em;
}

.blog-sidebar-popular-posts .popular-posts__comments {
  font-family: var(--second-font);
  color: var(--second-color);
}

.blog-sidebar-popular-posts li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.blog-sidebar-banner {
  margin-top: 3em;
}

.blog-sidebar-banner__image {
  width: 100%;
}

.blog-sidebar-banner__image img {
  width: 100%;
}

/* Relation Content Style */

.relation-posts {
  background-color: #F2F2F2;
  margin-bottom: 4em;
  width: 100%;
}

.relation-posts .blog-wrapper-width {
  max-width: 90%;
  margin-right: 0;
}

.relation-posts .wrapper-width-container {
  padding-top: 4em;
  padding-bottom: 7em;
}

.relation-posts__title {
  font-family: var(--second-font);
  color: var(--second-color);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1em;
}

.wrapper-relation-posts {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.relation-card-post {
  width: 30%;
}

.relation-card-post a {
  display: block;
  height: 100%;
  width: 100%;  
}

.relation-card-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.relation-card-post__title {
  color: var(--first-color);
  margin-top: .5em;
  font-weight: 500;
  font-size: 1.4em;
}

/* Comments */

.comments-container {
  margin-bottom: 8em;
}

.comments-container .blog-wrapper-width {
  max-width: 90%;
  margin-right: 0;
}

.comments-container-header .number-comments {
  font-family: var(--second-font);
  color: var(--second-color);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
}

.conversation {
  margin-top: 2em;
}

.comment {
  display: flex;
  margin-bottom: 3em;
  height: 116px;
}

.comment-avatar {
  width: 10%;
  height: auto;
}

.comment-avatar img {
  border-radius: 50%;
  width: 100%;
  height: 70%;
}

.comment-body {
  margin-left: 2em;
  width: 100%;
}

.comment-username {
  color: var(--first-color);
  font-weight: bold;
  margin-bottom: .5em;
}

.comment-content {
  margin-bottom: 1em;
}

.comment-content p {
  color: var(--first-color);
  line-height: 1.6em;
}

.reply-comment {
  text-transform: uppercase;
  font-family: var(--second-font);
  color: var(--second-color);
  font-weight: 300;
}

.comment-form-container {
  height: 116px;
  margin-bottom: 3em;
}

.form-comment {
  display: flex;
  height: 100%;
}

.text-area-wrapper {
  margin-left: 2em;
  width: 100%;
}

.input-text {
  height: 100%;
}

.text-area-wrapper input {
  width: 100%;
  height: 70%;
  padding: 1.5em 1em;
}

.comment-social-connect {
  display: flex;
  justify-content: flex-end;
}

.comment-social-connect span {
  margin-right: 1em;
  font-family: var(--second-font);
  color: var(--second-color);
  font-weight: 300;
  text-transform: uppercase;
}

.comment-social-connect__items a {
  color: #c7c7c7;
}

.comment-social-connect__items .comment-social-connect--conected{
  color: #616161;
}

/* Media query */

/* Laptop - 1024px */

@media screen and (max-width: 1024px) {

                      /* HOME PAGE */
  /* Header */
  .wrapper-width-container {
    max-width: 900px;
  }

  /* Posts */

  .first-post {
    margin-bottom: 3em;
  }
  .row-articles {
    grid-row-gap: 5em;
    grid-auto-rows: 600px;
  }

  .post-view {
    overflow: hidden;
  }

  /* Newsletter */
  .newsletter-form__email {
    width: 35%;
  }
                      /* SINGLE POST PAGE */

  /* Post */   
  .post-content.blog-wrapper-width,
  .relation-posts .blog-wrapper-width,
  .comments-container .blog-wrapper-width {
    max-width: 95%;
  }

}

/* Tablet Portrait - 768px */

@media screen and (max-width: 768px) and (orientation: portrait) {

                      /* HOME PAGE */
  :root {
    --post-title-size: 1em;
  }

  /* Header */
  .wrapper-width-container {
    max-width: 700px;
  }

  /* Posts */
  .row-articles {
    grid-auto-rows: 550px;
    grid-row-gap: 3em;
  }

  .card-post__image {
    height: 50%;
  }

  /* Newsletter */
  .newsletter-form__email {
    width: 45%;
  }

                      /* SINGLE POST PAGE */

  /* Post */                      
  .post-body-container {
    grid-template-columns: 1fr;    
  }

  .post-body {
    grid-column: span 1;
  }

  .post-body-container aside {
    display: none;
    grid-column: span 0;
  }

  /* Comments */
  .comment {
    margin-bottom: 5em;
  }

  .comment-avatar {
    width: 12%;
  }

}

/* Tablet LANDSCAPE - 856px */

@media screen and (max-width: 856px) and (orientation: landscape) {
  
                       /* HOME PAGE */
  :root {
    --post-title-size: 1em;
  }

  /* Header */
  .wrapper-width-container {
    max-width: 800px;
  }

  /* Posts */
  .row-articles {
    /* grid-template-columns: repeat(2, 1fr); */
    grid-auto-rows: 500px;
    grid-row-gap: 3em;
  }

  .card-post__image {
    height: 55%;
  }

  /* Newsletter */
  .newsletter-form__email {
    width: 40%;
  }

                      /* SINGLE POST PAGE */

  /* Post */                      
  .post-body-container {
    grid-template-columns: 1fr;    
  }

  .post-body {
    grid-column: span 1;
  }

  .post-body-container aside {
    display: none;
    grid-column: span 0;
  }

  /* Comments */
  .comment {
    margin-bottom: 5em;
  }

  .comment-avatar {
    width: 12%;
  }
  
}

/* Iphone X LANDSCAPE - 812px */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
  /* Header */
  .wrapper-width-container {
    max-width: 760px;
  }

  /* Newsletter */
  .newsletter-form__email {
    width: 45%;
  }
}

/* Iphone 6+, 7+ and 8+ LANDSCAPE - 736px */

@media only screen 
  and (min-device-width: 414px)    
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {     
  /* Header */
  .wrapper-width-container {
    max-width: 700px; 
  }

  /* Newsletter */
  .newsletter-form__email {
    width: 50%;
  }
}

/* Pixel 2 LANDSCAPE - 731px */

@media screen and (max-width: 731px) and (orientation: landscape) {
  /* Header */
  .wrapper-width-container {
    max-width: 650px;
  }

  .main-menu li {
    margin-right: 1.5em;
  }
  
  /* Posts */
  .row-articles {    
    grid-auto-rows: 500px;
    grid-row-gap: 3em;
  }

  .blog-wrapper-width {
    max-width: 90%;
  }

  .card-post__image {
    height: 45%;
  }

  /* Newsletter */
  .newsletter-form__email {
    width: 50%;
    background: black;
  }
  
}



@media screen and (max-width: 640px) and (orientation: landscape) {
  /* Header */
  .wrapper-width-container {
    max-width: 600px;
  }

  .main-menu li {
    margin-right: 1.5em;
  }
  
  /* Posts */
  .row-articles {    
    grid-auto-rows: 500px;
    grid-row-gap: 3em;
  }

  .blog-wrapper-width {
    max-width: 90%;
  }

  .card-post__image {
    height: 45%;
  }


  .newsletter-form__email {
    width: 50%;
  }
  
}



@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  /* Header */
  .wrapper-width-container {
    max-width: 520px;
  }

  .main-menu li {
    margin-right: 1em;
  } 

  /* Posts */
  .card-post__image {
    height: 40%;
  }

  /* Newsletter */
  .newsletter-form__email {
    width: 60%;
  }
  
}



@media screen and (max-width: 425px) and (orientation: portrait) {
  
                    
  :root {
    --post-title-size: 1em;
  }  

  /* Header */
  .wrapper-width-container {
    max-width: 390px;
  }

  /* Menu Burger */
  .container-burger {    
    display: block;
  }

  .main-menu {
    width: 100%;
  }

  .main-menu ul {
    display: none;    
    margin: 0;    
    width: 100%;    
  }

  .main-menu li {
    margin: 0 0 1em 0;
  }


  .main-menu {
    margin-top: 1em;
  }

  .main-navigation-bar {
    margin-top: 1em;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Posts */
  main {
    margin-top: 1.5em;
  }

  .row-articles {
    grid-template-columns: 1fr;
    grid-auto-rows: 500px;
    grid-row-gap: 3em;
  }

  .card-post__image {
    height: 50%;
  }

  /* Newsletter */
  .newsletter-content__title {
    font-size: 1.5em;
  }
  .newsletter-form__email {
    width: 90%;
  }

  /* Footer */
  .main-footer-content {
    justify-content: flex-start;
    flex-direction: column;
  }

  .main-footer-pages {
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
  }

  .main-footer-pages p {
    margin: 0;
    margin-bottom: .8em;
  }

  .main-footer-social {
    margin-bottom: 1.5em;
    justify-content: center;
  }

  .main-footer-social p,
  .main-footer-social a {
    margin: 0 1em 0 0;
  }

                      
  .wrapper-relation-posts {
    flex-direction: column;
    align-items: center;
  }

  .relation-card-post {
    width: 100%;
    margin-bottom: 1.5em;
  }

  .relation-posts .wrapper-width-container {
    padding-bottom: 4em;

  }
  /* Comments */
  .comment {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 3em;
  }

  .comment-body {
    margin-left: 0;
  }

  .comment-content {
    width: 95%;
  }
  
  .comment-avatar {
    max-width: 60px;
    max-height: 60px;
  }  

  .comment-avatar img {
    width: 60px;
    height: 60px;
  }
}



@media screen and (max-width: 375px) and (orientation: portrait) {
  :root {
    --post-title-size: 1em;
  }

  /* Header */
  .wrapper-width-container {
    max-width: 330px;
  }

  /* Posts */
  .card-post__image {
    height: 45%;
  }

  /* Newsletter */
  .newsletter-form__email {
    width: 90%;
  } 

}




@media screen and (max-width: 320px) and (orientation: portrait) {
  /* Header */
  .wrapper-width-container {
    max-width: 300px;
  }

  .row-articles {
    grid-auto-rows: 400px;
  }

  /* Posts */
  .content-first-post {
    margin-top: 1.5em;
  }

  .blog-wrapper-width {
    max-width: 90%;
  }

  .card-post__image {
    height: 45%;
  }

  /* NewsLetter */
  .newsletter-form__email {
    background-size: 1.5em;
  }

  .newsletter-content__title {
    font-size: 1.3em;
  }

}